NODE_ENV=development
PORT=4000
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=redminuto
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=
ADMIN_EMAIL=admin@casaminutodedios.org
ADMIN_PASSWORD=
